<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.email %>
</p>
<%if can? :update,@question%>
 <%= link_to 'Edit', edit_question_path(@question) %> |
<%end%>
<%= link_to 'Back', 'home/index'%>

<div class="createAnswer">
   <%= form_for @answer, :url => answers_path(question_id:@question.id), remote: true do |task|%>
      <%= task.label :content %><br>
      <%= task.text_area :content %><br>
      <div class="actions">
        <%= task.submit id: 'create_answer_submit'%>
      </div>
      <% end %>
      <% if @answer.errors.any? %>
      <% @answer.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
</div>


<div id="answers">
  <% @answerfeed.each do |answer| %>
  <%= render 'answer' , answer: answer %>

  <% end %>
</div>
