
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Home</title>

</head>
<body>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Ask Question !</a>
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>ASK QUESTION</h4>
      <div class="createQuestion">
        <%= form_for @question, remote: true do |task|%>
        <div class="input-field">
          <%= task.text_field :title, class:'validate', id:'title' %>
          <%= task.label :title, for:'title' %><br>
        </div>
        <div class="input-field">
          <%= task.text_field :content, class:'validate materialize-textarea',id:'content'%><br>
          <%= task.label :content, for:'content' %><br>
          <!-- <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea> -->

        </div>

        <div class="modal-footer">
          <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">
          --> <div class="actions modal-action modal-close waves-effect waves-green btn-flat">
              <%= task.submit id: 'create_question_submit' %>
            </div>

        </div>
        <% end %>
        <% if @question.errors.any? %>
        <% @question.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- <div class="col s12"> -->
  <!-- <div class="container"> -->
  <div id="questions">
    <div class="row">
      <% @feed.each do |question| %>
       <!-- <div class="col s12 m12 l12"> -->
      <%= render 'question' , question: question %>
   <!-- </div> -->
      <% end %>
    </div>

  </div>


  <!-- </div> -->
  <!-- <div class="container"> -->

  <!-- </div> -->
  <!-- </div> -->
  <script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('#modal2').modal({
      dismissible: true
    });
    $('#modal2').modal('open');
    $('.trigger-modal').modal();
    $('#modal2').modal('close');
    $('input#title, textarea#content').characterCounter();
  });
  </script>


</body>
