<%= form_for(@subtrend) do |f| %>
  <% if @subtrend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtrend.errors.count, "error") %> prohibited this subtrend from being saved:</h2>

      <ul>
      <% @subtrend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :maintrend_id %><br>
    <%= f.text_field :maintrend_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
