<p id="notice"><%= notice %></p>

<h1>Listing Subtrends</h1>

<table>
  <thead>
    <tr>
      <th>Subtitle</th>
      <th>Maintrend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subtrends.each do |subtrend| %>
      <tr>
        <td><%= subtrend.subtitle %></td>
        <td><%= subtrend.maintrend_id %></td>
        <td><%= link_to 'Show', subtrend %></td>
        <td><%= link_to 'Edit', edit_subtrend_path(subtrend) %></td>
        <td><%= link_to 'Destroy', subtrend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtrend', new_subtrend_path %>
