<p id="notice"><%= notice %></p>

<p>
  <strong>Subtitle:</strong>
  <%= @subtrend.subtitle %>
</p>

<p>
  <strong>Maintrend:</strong>
  <%= @subtrend.maintrend %>
</p>

<%= link_to 'Edit', edit_subtrend_path(@subtrend) %> |
<%= link_to 'Back', subtrends_path %>
