<html>
<head>
  <meta charset="UTF-8">
  <title>Sign up and login form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'loginsignup', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>
<div class="login-signup l-attop" id="login">
  <div class="login-signup-title">
    LOG IN
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-signup-content">
        <div class="input-name">
          <h2>Username</h2>

        </div>
        <%= f.email_field :email, autofocus: true, class: "field-input" %>
        <!--<input type="text" name="username" value="" class="field-input" />-->
        <div class="input-name input-margin">
          <h2>Password</h2>

        </div>
        <%= f.password_field :password, autocomplete: "off", class: "field-input" %>
        <!--<input type="text" name="password" value="" class="field-input" />-->
        <div class="input-r">


          <div class="check-input">
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me, class: "checkme",id: "remember-me-2" %>
                <!--<input type="checkbox" id="remember-me-2" name="remember_me" value="" class="checkme">-->
                <label class="remmeberme-blue" for="remember-me-2"></label>
                </div>
                <div class="rememberme"><label for="remember-me-2">Remember Me</label></div>
            <% end %>



            </div>
        <button class="submit-btn">
          Log In
        </button>
  <% end %>
  <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, :facebook) %><br />
      <% end -%>
  <% end -%>

  <div class="forgot-pass">
    <a href="#">Forgot Password?</a>
  </div>

  </div>
</div>


<div class="login-signup s-atbottom" id="signup">
  <div class="login-signup-title">
    SIGN UP
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="login-signup-content">
        <div class="input-name">
          <h2>Username</h2>

        </div>
        <%= f.text_field :name, autofocus: true, placeholder: "NAME", class: "field-input" %>
        <!--<input type="text" name="username" value="" class="field-input" />-->
        <div class="input-name input-margin">
          <h2>E-Mail</h2>

        </div>
        <%= f.email_field :email, autofocus: true, placeholder: "EMAIL", class: "field-input" %>
        <div class="input-name input-margin">
          <h2>Phone</h2>

        </div>
        <%= f.hidden_field :phno, autofocus: true, placeholder: "PHONE", class: "field-input" %>
        <!--<input type="text" name="email" value="" class="field-input" />-->
        <div class="input-name input-margin">
          <h2>Password</h2>

        </div>
        <!--<input type="text" name="password" value="" class="field-input"/>-->
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", placeholder: "PASSWORD", class: "field-input" %>
        <div class="input-name input-margin">
          <h2>Confirm Password</h2>

        </div>

        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "CONFIRM-PASSWORD", class: "field-input" %>
        <button class="submit-btn">
          Sign Up
        </button>

  <% end %>
  </div>
</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<%= javascript_include_tag 'loginsignup', 'data-turbolinks-track' => true %>

</body>
</html>

</html>


