<head>
  <!--Import Google Icon Font-->
  <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'> -->
  <!--Import materialize.css-->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->

  <!--Let browser know website is optimized for mobile-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->

  <style type="text/css">

  /* Imports */
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
  .card-title{
    /*min-height: 11rem;*/
    /*line-height: 1.5rem;*/
    padding:1rem;
    border-bottom: 0px;
  }

  .card-title .fakeimage {
    width: 50px;
    height: 50px;
    /*margin: 0px 20px 0px 10px;*/
    float: left;
    border-radius: 100%;
    background: #aaa;
  }
  .card-title h2,  .card-title .wrap > p {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #222;
  }
  .card-title p {
    margin-right: 10px;
    margin-left: 10px;
    font-family: Lato, sans-serif;
    font-size: 0.9em;
    color: #aaa;
    float: left;
  }
  .card-title #head {
    font-size: 1.2rem;
    /*line-height: 3rem;*/
  }
  .card-title p i {
    font-size: 2.2rem;

  }


  </style>


</head>

  <div class="answer">
    <div class="userDetail">
      <div class="card">
         <!--  answer.created_at.strftime("%B %d, %Y")-->
        <div class="card-title">
        <div class="fakeimage"></div>
        <p id="head"><i class="material-icons right">date_range</i><%= time_ago_in_words(answer.created_at) unless answer.created_at.blank? %> ago</p>
        <p id="head"><i class="material-icons right">person</i><%= answer.user.name %></p>

        <br>
      </div>
      <div class="card-content grey-text">
        <p><%= answer.content %></p>
        <br>
        <div class="row">
          <%= link_to ('<i class="material-icons right">forum</i>').html_safe, answer ,params[id: answer.id]%></button>
          <%if can? :update,answer%>
          <%= link_to ('<i class="material-icons right">create</i>').html_safe, answer %>
                  <% end %>.
          <%if can? :destroy,answer%>

          <%= link_to ('<i class="material-icons right">delete</i>').html_safe, answer, method: :delete, data: {confirm: "Are you sure?"}%>

          <% end %>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Comment</a>


        </div>

      </div>
      </div>
    </div>


  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div id="comments">
        <% @commentfeed.each do |comment| %>
        <%= render 'comment' , comment: comment %>
        <% end %>

      </div>

    </div>
    <div class="modal-footer">
      <div class="createComment">
         <%= form_for @comment, :url => comments_path(answer_id:answer.id), remote: true do |task|%>
            <%= task.label :content %><br>
            <%= task.text_area :content %><br>
            <div class="actions">
              <%= task.submit id: 'create_comment_submit', class:"modal-action modal-close waves-effect waves-green btn-flat"%>
            </div>
            <% end %>
            <% if @comment.errors.any? %>
            <% @comment.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            <% end %>
      </div>

    </div>
  </div>
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script> -->
  <!-- <script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible({
        accordion : true
    });
  });
  </script> -->
  <script type="text/javascript">
  $(document).ready(function(){
 // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
 $('#modal1').modal();
  $('#modal1').modal('open');
  $('.trigger-modal').modal();
   $('#modal1').modal('close');
});
  </script>
